name: Build & Test

on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Test

    strategy:
      matrix:
        node_version: [lts/-1, lts/*, latest]
      fail-fast: false

    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Test package
        run: pnpm --filter "@forward-software/react-auth" test

  build:
    name: Build

    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: pnpm

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build package
        run: pnpm --filter "@forward-software/react-auth" build
