name: Release

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 17 * * 2" # Weekly on Tuesday evenings
  workflow_dispatch:

jobs:
  release-please:
    name: Run Release Please

    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      pull-requests: write

    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}

    steps:
      - name: Run release-please command
        id: release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38

  build-and-publish:
    name: Build & Publish

    runs-on: ubuntu-latest

    needs: [release-please]

    if: needs.release-please.outputs.paths_released != '[]'

    strategy:
      matrix:
        path: ${{ fromJSON(needs.release-please.outputs.paths_released) }}

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build package
        working-directory: ${{ matrix.path }}
        run: pnpm build

      - name: Publish package at ${{ matrix.path }}
        run: npm publish
        working-directory: ${{ matrix.path }}
